// Dark Mode Colors
$primary-color-dark: #2D3047;
$secondary-color-dark: #1B998B;
$accent-color-dark: #FFFD82;
$text-color-dark: #F5F5F5;
$background-color-dark: #0C0C1D;

// Light Mode Colors
$primary-color-light: #6B728E;
$secondary-color-light: #32C8B8;
$accent-color-light: #FFEB3B;
$text-color-light: #333333;
$background-color-light: #FFFFFF;

$font-size1: 1.25rem;