@import "./variables";

.infopage-container {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;

  .info-content-area {
    width: 100%;
    height: calc(100% - 6rem);
    padding: 2rem 5rem;
    color: $text-color;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;

    .left-area {
      width: 40%;
      height: 100%;

      img {
        height: 100%;
      }
    }

    .right-area {
      width: 55%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow-y: scroll;

      h1 {
        margin: 0;
      }

      .seperator-div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          width: 48%;
          display: flex;
          justify-content: flex-start;
          gap: 10px;
        }
      }

      .plot-div {
        display: flex;
        gap: 10px;
        align-items: flex-start;

        span {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }

      .ratings-div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .reviewer-div {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          div {
            display: flex;
            gap: 10px;
          }
        }
      }

      .trailer-button {
        padding: 0.75rem 2rem;
        cursor: pointer;
        width: auto;
        background-color: $secondary-color;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;
        transition: all ease 0.4s;

        &:hover {
          background-color: $accent-color;
          color: $primary-color;
        }
      }
    }
  }
}
