@import "./variables";
@import "./mixins";

.navbar-container {
  width: 100%;
  height: 6rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5rem;
  background: var(--background-color);
  color: var(--text-color);
  border-bottom: 5px solid var(--secondary-color);

  .hamburger-menu {
    display: none;
  }

  .nav-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    font-size: $font-size1;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    .icon-div {
      display: flex;
      font-size: 2rem;
      color: var(--secondary-color);
    }

    .logo {
      font-size: 3rem;
    }
  }

  @media (max-width: 992px) {
    justify-content: space-between;
    padding: 0 1rem;

    .hamburger-menu {
      display: flex;
      font-size: 1.75rem;
    }

    .nav-input {
      display: flex !important;
      margin-left: 1rem;
    }

    .nav-item {
      display: none;
    }

    .logo-div {
      display: flex !important;
    }
  }

  @media (max-width: 768px) {
    .nav-input {
      display: flex;
      margin-left: 1rem;
    }

    .nav-item {
      display: none;
    }
  }

  @media (max-width: 576px) {
    gap: 0;

    .logo-div {
      z-index: 2;
      display: flex !important;
    }

    .nav-input {
      gap: 0.5rem;
      margin-left: 0;
      justify-content: flex-end;
      z-index: 1;

      .icon-div {
        font-size: 1.5rem;
      }

      input {
        max-width: 55%;
      }
    }
  }

  @media (max-width: 375px) {
    .logo-div {
      margin-left: 1rem;
    }

    .nav-input {
      margin-left: -1rem;
    }
  }

  @media (max-width: 325px) {
    .logo-div {
      margin-left: 1rem;
    }

    .nav-input {
      margin-left: -4rem;
    }
  }
}
