@import "./variables";
@import "./mixins";

.navbar-container {
  width: 100%;
  height: 6rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5rem;
  background: var(--background-color);
  color: var(--text-color);
  border-bottom: 5px solid var(--secondary-color);

  .nav-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    font-size: $font-size1;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    .icon-div {
      display: flex;
      font-size: 2rem;
      color: var(--secondary-color);
    }

    .logo {
      font-size: 3rem;
    }
  }

  .nav-input {
    cursor: default;
    transform: none !important;

    input {
      padding: 0.5rem 2rem 0.5rem 0.75rem;
      border-radius: 10px;
      border: none;
      font-size: 1rem;
      font-weight: 500;
      border: 2px solid var(--secondary-color);
    }
  }

  @media (max-width: 768px) {
    display: none;
    justify-content: space-between;
    padding: 0 1rem;

    .nav-input {
      flex: 1;
      margin-left: 1rem;
    }

    .hamburger-menu {
      display: block;
    }

    .nav-items {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 6rem;
      left: 0;
      background: var(--background-color);
      padding: 1rem 0;

      &.open {
        display: flex;
      }

      .nav-item {
        margin: 1rem 0;
      }
    }
  }
}
