@import "./variables";
@import "./mixins";

.nav-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 1rem;

  input {
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid var(--secondary-color);
  }

  .icon-div {
    display: flex;
    font-size: 2rem;
    color: var(--secondary-color);
  }

  @media (max-width: 576px) { 
    padding-top: 1rem;
  }
}
